* Reset some default styles */
body, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.navigation {
   display: inline-block;
   background-color: #f2f2f2;       
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin: auto;
    align-items: center;
}

.nav-left ul{
    display: flex;
    list-style: none;
}

.nav-left ul li a{
    margin-left: 35px;
    text-decoration: none;
    color: black;
}

.nav-right {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.describe{
    margin-left: auto;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.646);
}

p{
    margin-left: 70px;
    margin-bottom: 0px;
}

.blog-post {
    margin-bottom: 30px;
}

.blog-post h2 {
    font-size: 24px;
}

.post-meta {
    color: #777;
    font-size: 14px;
}


.logo{
    width: 170px;
    height: 150px;
}

.project-name {
    width: 50%;
    height: 50%;
}

.garage {
    width: 50%;
    height: 50%;
}

.problem-statement{
    font-size: 30px;
    font-weight: bold;
    margin-left: 70px;
}

.block{
    display: inline;
}

.problem{
    margin-top: 20px;
}

.solution-statement{
    font-size: 24px;
    font-weight: bold;
}


.member{
    font-size: 20px;
}


.group{
    background-color: #777;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.group-members{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
}