* Reset some default styles */
body, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.navigation {
   display: inline-block;
   background-color: #f2f2f2;       
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin: auto;
    align-items: center;
}

.nav-left ul{
    display: flex;
    list-style: none;
}

.nav-left ul li a{
    margin-left: 35px;
    text-decoration: none;
    color: black;
}

.nav-right {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.describe{
    margin-left: auto;
}


main {
    max-width: 900px;
    margin: 50px auto;

    padding: 100px 100px 100px 100px;
    /*background-color: rgba(255, 255, 255, 0.646);*/
    background-color: #777;
}

p{
    margin-left: 70px;
    margin-bottom: 0px;
}

.blog-post {
    margin-bottom: 30px;
}

.blog-post h2 {
    font-size: 24px;
}

.post-meta {
    color: #777;
    font-size: 14px;
}


/*.logo{
    width: 170px;
    height: 150px;
}*/

.project-name {
    width: 100%;
    height: 50%;
}
.garage {
    width: 100%;
    height: auto;
}

.big-font1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 70px;
}

.block{
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(200px, 1fr));
    grid-gap: 20px;
}

.problem{
    margin-top: 20px;
}

.big-font2{
    font-size: 24px;
    font-weight: bold;
}


.profile-screen{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 100px;


}

.screens{

    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(200px, 1fr));
    grid-gap: 20px;
}

.login-page-images{
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(200px, 1fr));
    grid-gap: 20px;
}

.home-page-images{
        display: grid;
        grid-template-columns: repeat( auto-fit,minmax(200px, 1fr));
        grid-gap: 20px;
}

.payment-page-images{
    display: grid;
        grid-template-columns: repeat( auto-fit,minmax(200px, 1fr));
        grid-gap: 20px;
}


.descrition-paragraph{}
