<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29293432271-riveinhof39pl58r5jeeoppt2ijkmo8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29293432271-riveinhof39pl58r5jeeoppt2ijkmo8b</string>
	<key>API_KEY</key>
	<string>AIzaSyDmabISS5rnDnkJ2idhNUa30Qacr0Bze9g</string>
	<key>GCM_SENDER_ID</key>
	<string>29293432271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkeaseapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>parkkaro-9e08e</string>
	<key>STORAGE_BUCKET</key>
	<string>parkkaro-9e08e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29293432271:ios:d9eff189f74c57cb7396ba</string>
</dict>
</plist>